*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 11px;
}

body{
    overflow-x: hidden;
}



main{
    background-color: #eeeeee;
    border-radius: 0.4%;
    margin: 1.5rem 1rem;
    width: 97vw;
}

.image {
    margin-left: 8rem;
    margin-bottom: 0;
    height: 30%;
}

.title {
    text-align: center;
    font-size: 3.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 2rem;
    margin-bottom: 0;
    color: #333;
    
    
}

.img-caption {
    text-align: center;
    font-size: 1.3rem;
    font-family: sans-serif;
    margin-top: 2rem;
    color: #333;
}

strong{
    margin-left: 1rem;
}

#img-div {
    background-color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2.5rem;
}

#head h2{
    width: 100%;
    margin: 3rem 0;
    text-align: center;
    font-size: 1.8rem;
}


.dats{
    width: 50%;
    margin: auto;
}


li{
    
    padding-left: 2rem;
    font-size: 1.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 1rem;
    font-weight: 400;
}

.tribute-info {
   margin-left: 11rem;
   padding-top: 1rem;
   font-size: 1.4rem;
   padding-bottom: 2rem;
}


#quote {
    font-size: 1.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    max-width: 48rem;
    margin-left: 32rem;
    margin-top: 4rem;
}

.name {
    margin-top: 1.3rem;
}

.link {
    width: 100%;
    font-size: 1.4rem;
    text-decoration: none;
    margin-top: 3rem;
    margin-left: 21.5rem;
    padding-bottom: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width:640px){
    :root {
        font-size: 10px;
       }

       main{
        width: 97%;
        height: 100vvh;
        margin-left: 0.3rem;
        margin-top: 0.9rem;
       }

       .title{
        font-size: 2rem;
        margin-bottom: 1rem;
        width: 100%;
       }

       .img-caption{
        font-size: 1.5rem;
        margin-top: 0;
        width: 100%;
       }

       #img-div{
        width: 97%;
        height: 28rem;
        margin-left: 0.3rem;
        margin-top: 0.4rem;
        margin-bottom: 0;
       }

       .image{
        width: 96%;
        height: 19rem;
        margin: auto;
       }

       .tribute-info{
        width: 90%;
        font-size: 1.6rem;
        margin: auto;
        text-align: center;
        padding-top: 0.5rem;
       }

       .link{
        width: 95%;
        margin: auto;
        margin: 1.8rem 0.2rem;
        text-align: center;
        font-size: 1.54rem;
    }

       #head h2{
        width: 100%;
        margin-top: 2rem;
        font-size: 1.8rem;
       }

       #quote{
        max-width: 20rem;
        margin: auto;
        margin-top: 2rem;

    }

       .dats{
        width: 23rem;
        font-size: 2rem;
    }

}